db.sqlite3
.env
__pycache__/
*.pyc

# -------------------
# Python / Django
# -------------------
__pycache__/
*.py[cod]
*$py.class

# Django migrations cache
*.log

venv/
env/
.venv/
ENV/

.env.*

!.env.example


secrets.json


local_settings.py


*.sqlite3


staticfiles/
media/







